head
  //img(src='http://pbs.twimg.com/profile_images/904531380310228992/BfCDzb65_normal.jpg')
  link(rel='stylesheet', href='static/stylesheets/circle/core/docs.css')
  title YOYOYOYO
  p this is my twitter info
